//font import
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
$font: 'Varela Round', sans-serif;
//grid values (modify freely as needed)
$grid-width: 100%; //of page-wrapper
$gutter-vertical: 3rem;
$gutter-horizontal: 2.5rem;

//shades
$color-black: #000;
$color-white: #fff;

//colors
$color-primary: #009688;
$color-primary-light: #B2DFDB;
$color-primary-dark: #00796B;

$color-accent: #9E9E9E;